body {
  background-color: white;
}
body .top-section {
  background-color: #f0f5f9;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
body .top-section .container {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 600px) {
  body .top-section .container {
    flex-direction: column-reverse;
  }
}
body .top-section .container .left {
  width: 55%;
}
@media screen and (max-width: 600px) {
  body .top-section .container .left {
    width: 100%;
    position: absolute;
    top: -4vh;
  }
}
body .top-section .container .left .img-bg {
  background-image: url("https://i.postimg.cc/WzQkQ9qF/confetti-B.png");
  background-size: 100% 100%;
}
body .top-section .container .left .img-bg .img-sec {
  text-align: center;
  padding-top: 30%;
}
@media screen and (max-width: 600px) {
  body .top-section .container .left .img-bg .img-sec {
    text-align: center;
    margin-right: 3%;
  }
}
body .top-section .container .left .img-bg .img-sec img {
  width: 80%;
}
@media screen and (max-width: 600px) {
  body .top-section .container .left .img-bg .img-sec img {
    width: 50%;
    position: relative;
  }
}
body .top-section .container .right {
  width: 45%;
  padding: 20% 8% 4% 4%;
}
@media screen and (max-width: 600px) {
  body .top-section .container .right {
    width: 100%;
    padding: 15% 0 0 0;
  }
}
body .top-section .container .right .container {
  display: inline;
}
body .top-section .container .right .container img {
  width: 10%;
  position: absolute;
  top: 60px;
  right: 150px;
  border-radius: 10px;
}
@media screen and (max-width: 1024px) {
  body .top-section .container .right .container img {
    top: 30px;
    right: 100px;
  }
}
@media screen and (max-width: 768px) {
  body .top-section .container .right .container img {
    right: 70px;
  }
}
@media screen and (max-width: 600px) {
  body .top-section .container .right .container img {
    width: 16%;
    top: 20px;
    right: 30px;
  }
}
body .top-section .container .right .container #header-1 {
  font-family: "Roboto", sans-serif;
  color: #2d4059;
  font-size: 2.5vw;
  font-weight: 300;
  width: 75%;
}
@media screen and (max-width: 768px) {
  body .top-section .container .right .container #header-1 {
    font-size: 3vw;
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  body .top-section .container .right .container #header-1 {
    margin: 0 auto;
    text-align: center;
    padding-top: 53%;
    font-size: 5vw;
    width: 60%;
  }
}
body .top-section .container .right .container #top-sub-header {
  padding-top: 6%;
  font-family: "Roboto", sans-serif;
  color: #2d4059;
  font-size: 1.5vw;
  font-weight: 500;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  body .top-section .container .right .container #top-sub-header {
    text-align: center;
    padding-top: 4%;
    font-size: 2vw;
  }
}
body .top-section .container .right .container #top-form {
  padding-bottom: 2%;
}
body .top-section .container .right .container #top-form #head-input-sec {
  padding: 5% 0 1%;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 600px) {
  body .top-section .container .right .container #top-form #head-input-sec {
    justify-content: center;
  }
}
body .top-section .container .right .container #top-form #head-input-sec input {
  padding: 2% 0;
  font-family: "Roboto", sans-serif;
  color: #2d4059;
  font-size: 1.2vw;
  font-weight: 300;
  padding-left: 1%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #2d4059;
}
@media screen and (max-width: 1024px) {
  body .top-section .container .right .container #top-form #head-input-sec #top_input {
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 768px) {
  body .top-section .container .right .container #top-form #head-input-sec #top_input {
    font-size: 1.6vw;
  }
}
@media screen and (max-width: 600px) {
  body .top-section .container .right .container #top-form #head-input-sec #top_input {
    font-size: 2.5vw;
  }
}
body .top-section .container .right .container #top-form #head-input-sec #top-input:focus {
  -moz-box-shadow: 0px 3px 18px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 18px -4px rgba(0, 0, 0, 0.75);
}
body .top-section .container .right .container #top-form #head-input-sec #head-subscribe {
  font-family: "Roboto", sans-serif;
  color: #ff5722;
  font-size: 1.2vw;
  font-weight: 600;
  border: 2px solid #ff5722;
  text-transform: uppercase;
  padding-left: 2%;
  padding-right: 2%;
  background: transparent;
  margin-left: 1.5%;
  width: fit-content;
  transition: 0.2s ease-in-out;
}
@media screen and (max-width: 1024px) {
  body .top-section .container .right .container #top-form #head-input-sec #head-subscribe {
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 768px) {
  body .top-section .container .right .container #top-form #head-input-sec #head-subscribe {
    font-size: 1.6vw;
    padding-left: 1%;
    padding-right: 1%;
  }
}
@media screen and (max-width: 600px) {
  body .top-section .container .right .container #top-form #head-input-sec #head-subscribe {
    font-size: 2.5vw;
    padding-left: 2%;
    padding-right: 2%;
  }
}
body .top-section .container .right .container #top-form #head-input-sec #head-subscribe:hover {
  background-color: #ff5722;
  color: white;
  border-color: #e63600;
}
body .top-section .container .right .container #top-form span {
  color: #ff5722;
  font-style: italic;
  display: none;
  font-family: "Roboto", sans-serif;
  color: #ff5722;
  font-size: 1vw;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  body .top-section .container .right .container #top-form span {
    font-size: 1.2vw;
  }
}
@media screen and (max-width: 600px) {
  body .top-section .container .right .container #top-form span {
    font-size: 2.2vw;
    text-align: center;
  }
}
body .top-section .container .right .container #head-promo {
  font-family: "Roboto", sans-serif;
  color: #2d4059;
  font-size: 1vw;
  font-weight: 400;
}
@media screen and (max-width: 600px) {
  body .top-section .container .right .container #head-promo {
    font-size: 2vw;
    text-align: center;
    padding-bottom: 4%;
  }
}
body .mid-section {
  width: 100%;
  margin: 0 auto;
  margin-top: 0.5%;
}
body .mid-section .top {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  body .mid-section .top {
    flex-direction: column;
  }
}
body .mid-section .top .info {
  width: 25%;
  text-align: center;
  background-color: #f0f5f9;
  padding: 6% 1%;
}
@media screen and (max-width: 600px) {
  body .mid-section .top .info {
    width: 100%;
    padding: 4.4% 0;
  }
}
body .mid-section .top .info #facts {
  font-family: "Roboto", sans-serif;
  color: #2d4059;
  font-size: 1.2vw;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  body .mid-section .top .info #facts {
    font-size: 1.4vw;
  }
}
@media screen and (max-width: 600px) {
  body .mid-section .top .info #facts {
    font-size: 3vw;
  }
}
body .mid-section .top .info #bottom-sub-header {
  font-family: "Roboto", sans-serif;
  color: #2d4059;
  font-size: 1.7vw;
  font-weight: 700;
  text-transform: uppercase;
  padding: 6% 0 5%;
}
@media screen and (max-width: 768px) {
  body .mid-section .top .info #bottom-sub-header {
    font-size: 1.8vw;
  }
}
@media screen and (max-width: 600px) {
  body .mid-section .top .info #bottom-sub-header {
    font-size: 4vw;
    padding: 3% 0 5%;
  }
}
body .mid-section .top .info #info2 {
  font-family: "Roboto", sans-serif;
  color: #2d4059;
  font-size: 1vw;
  font-weight: 300;
  width: 60%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  body .mid-section .top .info #info2 {
    font-size: 1.2vw;
  }
}
@media screen and (max-width: 600px) {
  body .mid-section .top .info #info2 {
    font-size: 3vw;
    width: 40%;
  }
}
body .mid-section .top .info #info3 {
  font-family: "Roboto", sans-serif;
  color: #2d4059;
  font-size: 1vw;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10% 0;
}
@media screen and (max-width: 768px) {
  body .mid-section .top .info #info3 {
    font-size: 1.3vw;
  }
}
@media screen and (max-width: 600px) {
  body .mid-section .top .info #info3 {
    font-size: 3vw;
    padding: 4% 0 8%;
  }
}
body .mid-section .top .info #btn {
  text-decoration: none;
  color: #2d4059;
  background-color: white;
  padding: 2.5% 6%;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
  -moz-box-shadow: 0px 3px 18px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 18px -6px rgba(0, 0, 0, 0.75);
}
@media screen and (max-width: 600px) {
  body .mid-section .top .info #btn {
    padding: 1.5% 4%;
  }
}
body .mid-section .top .info #btn:hover {
  color: #ff5722;
  border: 0.5px outset #ff5722;
}
body .mid-section .top .p1 {
  width: 25%;
  background-image: url("https://i.postimg.cc/hGq0JGjz/food-bg1.png");
  background-size: 100% 100%;
}
@media screen and (max-width: 600px) {
  body .mid-section .top .p1 {
    width: 100%;
  }
}
body .mid-section .top .p1 .texture {
  background-color: #F7D797;
  opacity: 0.9;
  height: 100%;
}
body .mid-section .top .p1 .texture #container-1 {
  text-align: center;
  padding-top: 8%;
}
@media screen and (max-width: 768px) {
  body .mid-section .top .p1 .texture #container-1 {
    padding-top: 15%;
  }
}
@media screen and (max-width: 600px) {
  body .mid-section .top .p1 .texture #container-1 {
    padding-top: 0;
  }
}
body .mid-section .top .p1 .texture #container-1 img {
  width: 90%;
}
@media screen and (max-width: 600px) {
  body .mid-section .top .p1 .texture #container-1 img {
    width: 50%;
    padding-top: 0;
  }
}
body .mid-section .top .p2 {
  width: 25%;
  background-image: url("https://i.postimg.cc/N04R57SS/food-bg2.png");
  background-size: 100% 100%;
}
@media screen and (max-width: 600px) {
  body .mid-section .top .p2 {
    width: 100%;
  }
}
body .mid-section .top .p2 .texture {
  background-color: #91D0D8;
  opacity: 0.9;
  height: 100%;
}
body .mid-section .top .p2 .texture #container-2 {
  text-align: center;
}
body .mid-section .top .p2 .texture #container-2 img {
  width: 80%;
  padding: 22% 6%;
}
@media screen and (max-width: 768px) {
  body .mid-section .top .p2 .texture #container-2 img {
    padding: 25% 6%;
  }
}
@media screen and (max-width: 600px) {
  body .mid-section .top .p2 .texture #container-2 img {
    width: 43%;
    padding: 7.2% 6%;
  }
}
body .mid-section .top .p3 {
  width: 25%;
  background-image: url("https://i.postimg.cc/Gh8PqDTT/paw-bg.png");
  background-size: 100% 100%;
}
@media screen and (max-width: 600px) {
  body .mid-section .top .p3 {
    width: 100%;
  }
}
body .mid-section .top .p3 .texture {
  background-color: #9B99DB;
  opacity: 0.9;
  height: 100%;
}
body .mid-section .top .p3 .texture #container-3 {
  text-align: center;
  padding-top: 8%;
}
@media screen and (max-width: 768px) {
  body .mid-section .top .p3 .texture #container-3 {
    padding-top: 12%;
  }
}
@media screen and (max-width: 600px) {
  body .mid-section .top .p3 .texture #container-3 {
    padding: 2.2% 0;
  }
}
body .mid-section .top .p3 .texture #container-3 img {
  width: 76%;
  padding: 0 6%;
}
@media screen and (max-width: 600px) {
  body .mid-section .top .p3 .texture #container-3 img {
    width: 40%;
  }
}
body .mid-section .mid {
  display: flex;
  flex-direction: row;
  background-color: #f0f5f9;
  margin-top: 0.5%;
}
@media screen and (max-width: 600px) {
  body .mid-section .mid {
    flex-direction: column;
  }
}
body .mid-section .mid .left {
  width: 40%;
}
@media screen and (max-width: 600px) {
  body .mid-section .mid .left {
    width: 100%;
  }
}
body .mid-section .mid .left .logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15% 0 6%;
}
@media screen and (max-width: 768px) {
  body .mid-section .mid .left .logos {
    padding-left: 6%;
  }
}
@media screen and (max-width: 600px) {
  body .mid-section .mid .left .logos {
    padding: 0;
  }
}
body .mid-section .mid .left .logos #petlife {
  width: 20%;
}
@media screen and (max-width: 600px) {
  body .mid-section .mid .left .logos #petlife {
    width: 15%;
  }
}
body .mid-section .mid .left .logos i {
  padding: 10%;
}
body .mid-section .mid .left .logos #puppy {
  width: 25%;
}
@media screen and (max-width: 600px) {
  body .mid-section .mid .left .logos #puppy {
    width: 20%;
  }
}
body .mid-section .mid .left .content {
  padding: 0 4% 0 18%;
}
@media screen and (max-width: 600px) {
  body .mid-section .mid .left .content {
    padding: 0;
    width: 70%;
    margin: 0 auto;
  }
}
body .mid-section .mid .left .content #header-2 {
  font-family: "Roboto", sans-serif;
  color: #2d4059;
  font-size: 3vw;
  font-weight: 300;
}
@media screen and (max-width: 600px) {
  body .mid-section .mid .left .content #header-2 {
    text-align: center;
    font-size: 4.5vw;
  }
}
body .mid-section .mid .left .content #info-A {
  font-family: "Roboto", sans-serif;
  color: #2d4059;
  font-size: 1.2vw;
  font-weight: 300;
  padding: 6% 0 20%;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  body .mid-section .mid .left .content #info-A {
    font-size: 1.4vw;
  }
}
@media screen and (max-width: 600px) {
  body .mid-section .mid .left .content #info-A {
    font-size: 3vw;
    padding-bottom: 0;
  }
}
body .mid-section .mid .right {
  width: 60%;
  background-image: url("https://i.postimg.cc/WzQkQ9qF/confetti-B.png");
  background-size: 100% 100%;
  text-align: center;
}
@media screen and (max-width: 600px) {
  body .mid-section .mid .right {
    width: 100%;
  }
}
body .mid-section .mid .right img {
  width: 90%;
  height: 70%;
  margin-top: 20%;
}
body .mid-section .bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 0.5%;
}
@media screen and (max-width: 600px) {
  body .mid-section .bottom {
    flex-direction: column;
  }
}
body .mid-section .bottom .left {
  width: 50%;
  margin-right: 0.25%;
  background-image: url("https://i.postimg.cc/mkqYTLJr/face-bg.png");
  background-size: 100% 100%;
}
@media screen and (max-width: 600px) {
  body .mid-section .bottom .left {
    width: 100%;
    margin: 0 auto;
  }
}
body .mid-section .bottom .left .left-bg {
  background-color: rgba(240, 245, 249, 0.9);
}
body .mid-section .bottom .left .left-bg #info-B {
  font-family: "Roboto", sans-serif;
  color: #2d4059;
  font-size: 1.5vw;
  font-weight: 400;
  width: 60%;
  margin: 0 auto;
  padding-top: 20%;
  line-height: 1.5;
}
@media screen and (max-width: 600px) {
  body .mid-section .bottom .left .left-bg #info-B {
    padding-top: 10%;
    font-size: 3vw;
  }
}
body .mid-section .bottom .left .left-bg .title-sec {
  display: flex;
  flex-direction: row;
}
body .mid-section .bottom .left .left-bg .title-sec img {
  width: 30%;
}
body .mid-section .bottom .left .left-bg .title-sec #puppys {
  font-family: "Syncopate", sans-serif;
  color: #ff5722;
  font-size: 1.5vw;
  font-weight: 700;
  text-transform: uppercase;
  padding: 14% 0 0 5%;
}
@media screen and (max-width: 600px) {
  body .mid-section .bottom .left .left-bg .title-sec #puppys {
    font-size: 3vw;
    padding-top: 13%;
  }
}
body .mid-section .bottom .right {
  width: 50%;
  margin-left: 0.25%;
  background-color: #f0f5f9;
  background-image: url("https://i.postimg.cc/mkqYTLJr/face-bg.png");
  background-size: 100% 100%;
}
@media screen and (max-width: 600px) {
  body .mid-section .bottom .right {
    width: 100%;
    margin: 0 auto;
    margin-top: 0.5%;
  }
}
body .mid-section .bottom .right .right-bg {
  background-color: rgba(240, 245, 249, 0.9);
}
body .mid-section .bottom .right .right-bg .title-sec {
  display: flex;
  flex-direction: row-reverse;
}
body .mid-section .bottom .right .right-bg .title-sec img {
  width: 30%;
}
body .mid-section .bottom .right .right-bg .title-sec #dogs {
  font-family: "Syncopate", sans-serif;
  color: #91D0D8;
  font-size: 1.5vw;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 14%;
  margin-right: 30%;
}
@media screen and (max-width: 600px) {
  body .mid-section .bottom .right .right-bg .title-sec #dogs {
    font-size: 3vw;
    margin-right: 13%;
  }
}
body .mid-section .bottom .right .right-bg #info-C {
  font-family: "Roboto", sans-serif;
  color: #2d4059;
  font-size: 1.5vw;
  font-weight: 400;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 15%;
  line-height: 1.5;
}
@media screen and (max-width: 600px) {
  body .mid-section .bottom .right .right-bg #info-C {
    padding-bottom: 8%;
    font-size: 3vw;
  }
}
body footer {
  text-align: center;
  padding-top: 8%;
}
body footer #opening {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 2.6vw;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  body footer #opening {
    font-size: 5vw;
  }
}
body footer #off {
  font-family: "Roboto", sans-serif;
  color: #2d4059;
  font-size: 1.2vw;
  font-weight: 500;
  text-transform: uppercase;
  padding: 2% 0;
}
@media screen and (max-width: 600px) {
  body footer #off {
    font-size: 2.5vw;
  }
}
body footer #footer-form #foot-input-sec {
  padding-bottom: 0.8%;
}
body footer #footer-form #foot-input-sec input {
  padding: 0.8% 0;
  font-family: "Roboto", sans-serif;
  color: #2d4059;
  font-size: 1.2vw;
  font-weight: 300;
  padding-left: 1%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #2d4059;
}
@media screen and (max-width: 1024px) {
  body footer #footer-form #foot-input-sec input {
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 768px) {
  body footer #footer-form #foot-input-sec input {
    font-size: 2vw;
  }
}
@media screen and (max-width: 600px) {
  body footer #footer-form #foot-input-sec input {
    font-size: 3.2vw;
  }
}
body footer #footer-form #foot-input-sec #btm-input:focus {
  -moz-box-shadow: 0px 3px 18px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 18px -4px rgba(0, 0, 0, 0.75);
}
body footer #footer-form #foot-input-sec #foot-subscribe {
  font-family: "Roboto", sans-serif;
  color: #ff5722;
  font-size: 1.2vw;
  font-weight: 600;
  margin-left: 0.5%;
  border: 2px solid #ff5722;
  text-transform: uppercase;
  padding-left: 1%;
  padding-right: 1%;
  background: transparent;
  transition: 0.2s ease-in-out;
}
@media screen and (max-width: 1024px) {
  body footer #footer-form #foot-input-sec #foot-subscribe {
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 768px) {
  body footer #footer-form #foot-input-sec #foot-subscribe {
    font-size: 2vw;
    padding-left: 1%;
    padding-right: 1%;
  }
}
@media screen and (max-width: 600px) {
  body footer #footer-form #foot-input-sec #foot-subscribe {
    font-size: 3.2vw;
  }
}
body footer #footer-form #foot-input-sec #foot-subscribe:hover {
  background-color: #ff5722;
  color: white;
  border-color: #e63600;
}
body footer #footer-form span {
  color: #ff5722;
  font-style: italic;
  display: none;
  font-family: "Roboto", sans-serif;
  color: #ff5722;
  font-size: 1.1vw;
  font-weight: 400;
  text-align: center;
}
@media screen and (max-width: 768px) {
  body footer #footer-form span {
    font-size: 1.6vw;
  }
}
@media screen and (max-width: 600px) {
  body footer #footer-form span {
    font-size: 2.2vw;
  }
}
body footer #foot-promo {
  font-family: "Roboto", sans-serif;
  color: #2d4059;
  font-size: 1vw;
  font-weight: 400;
  padding: 2% 0;
}
@media screen and (max-width: 600px) {
  body footer #foot-promo {
    font-size: 1.5vw;
  }
}
body footer #foot {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2.5%;
}
@media screen and (max-width: 600px) {
  body footer #foot {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8%;
  }
}
body footer #foot .left {
  width: 40%;
  padding-top: 5%;
}
@media screen and (max-width: 600px) {
  body footer #foot .left {
    order: 3;
    width: 100%;
    margin: 0 auto;
  }
}
body footer #foot .left #copy-rights {
  font-family: "Roboto", sans-serif;
  color: #2d4059;
  font-size: 1vw;
  font-weight: 400;
  text-align: left;
}
@media screen and (max-width: 600px) {
  body footer #foot .left #copy-rights {
    text-align: center;
    font-size: 2vw;
  }
}
body footer #foot .left #copy-rights a {
  color: #2d4059;
  margin: 0 2%;
}
body footer #foot .mid {
  width: 20%;
}
@media screen and (max-width: 600px) {
  body footer #foot .mid {
    order: 1;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
}
body footer #foot .mid img {
  width: 50%;
}
@media screen and (max-width: 600px) {
  body footer #foot .mid img {
    width: 24%;
  }
}
body footer #foot .right {
  width: 40%;
  text-align: right;
  padding-top: 5%;
}
@media screen and (max-width: 600px) {
  body footer #foot .right {
    order: 2;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0;
  }
}
body footer #foot .right a {
  font-family: "Roboto", sans-serif;
  color: #2d4059;
  font-size: 1vw;
  font-weight: 400;
}
@media screen and (max-width: 600px) {
  body footer #foot .right a {
    font-size: 2vw;
  }
}
body footer #foot .right #icon1, body footer #foot .right #icon2 {
  margin: 0 5%;
  font-size: 1.4vw;
}
@media screen and (max-width: 600px) {
  body footer #foot .right #icon1, body footer #foot .right #icon2 {
    font-size: 3vw;
  }
}
body footer #foot .right #iconL {
  margin-left: 5%;
  font-size: 1.4vw;
}
@media screen and (max-width: 600px) {
  body footer #foot .right #iconL {
    font-size: 3vw;
  }
}

/*# sourceMappingURL=main.css.map */
