//Font Variables...
$sub-header: 'Roboto', sans-serif
$text: 'Syncopate', sans-serif

//Color Variables...
$text-color: #2d4059
$action: #ff5722
$bg-pet: #f6fafd
$bg-food1: #F7D797
$bg-food2: #91D0D8
$bg-food3: #9B99DB

//Background-Image Variables...

//MIXINS...
// Media Queries Mixin...
=media($screen)
    @media screen and (max-width: $screen)
        @content
               
=center($width, $margin)
    width: $width
    margin: $margin

//Puppy Landing Page Styles...